body {
    background: url('../img/image_ecf/fond1.jpg') no-repeat center/cover;
    color: wheat;
}

.logo {
    height: 4rem;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
header, main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
form {
    display: flex;
    flex-direction: column;    
    padding: 20px;
}
/* Meilleure lisibilité des boutons */
form button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
}
main {
    flex: 1;
    padding-bottom: 20px; /* pour un peu d'espace au-dessus du footer */
    line-height: 1.25;
}

  /* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacement entre les éléments */
    background-color: rgba(121, 129, 156, 90); /* Fond coloré uniquement pour la boîte texte */
    width: 100%;
    opacity: 0.9;
    padding: 0px 0px; /* Réduit la hauteur du footer */
    position: relative; /* Utilise un positionnement relatif pour éviter le décalage */
    bottom: 0;
    color: black;
}

/* Contenu du nav dans le footer */
footer nav {
    display: flex;
    justify-content: space-between; /* Espacement entre les éléments */
    width: 100%; /* Utilise toute la largeur disponible */
    align-items: center;
}

/* Le texte dans le footer */
footer span {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin-left: 10px;
    display: flex; /* Utilise flex pour aligner l'image et le texte */
    align-items: center;
}

/* L'icône dans le footer */
footer img {
    width: auto; /* Réduit la taille de l'icône */
    height: auto;
    margin-left: 5px; /* Ajoute un léger espacement entre le texte et l'icône */
}

/* Liste de liens dans le footer */
footer ul {
    display: flex;
    justify-content: flex-end; /* Aligne les liens à droite */
    list-style: none;
    padding: 0;
    margin-left: auto; /* Pousse l'ul à droite */
}

/* Élément de liste dans le footer */
footer li {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Espacement entre les liens */
    margin-right: 10px; /* Espacement entre les liens */
}

/* Liens dans le footer */
footer li a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: black;
    background-color: rgba(226, 219, 3, 0.2); /* Fond avec 20% d’opacité */
    border: 2px solid rgba(255, 197, 254, 0.5); /* Bordure avec 50% d’opacité */
    border-radius: 10px;
    padding: 5px 10px; /* Espacement interne des liens */
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Pour le survol des liens */
footer li a:hover {
    background-color: rgba(255, 197, 254, 0.5); /* Changer la couleur au survol */
}
